
<%- include("partials/header"); -%>  
<h1>Contact</h1>
<p> <%= content %> </p>
<div class="contact">
    <ul>
        <li>
            <a href="https://www.linkedin.com/in/nithin-ta/">Linkedin</a>
        </li>
        <li>
            <a href="https://github.com/Nithin47TA">GitHub</a>
        </li>
        <li>
            <a href="https://www.instagram.com/_phantasm_it/">Instagram</a>
        </li>
      
    
    </ul>
</div>


<%- include("partials/footer"); -%>  