


.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
    color: #fff;
}

.list{

    display: inline-block;
}
.contact ul {
    margin-top: 2em;
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    letter-spacing: 0.05em;
    


}
.contact li {
    padding-bottom: 0.5em;

}
.contact a {
   
    color: #3366BB;
    
}

a:hover {
    text-align: center;
    text-decoration: solid;
    color:#498afb;
    
}
